[project]
	description = Programming assignments done by me.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/brijnandan
[access "refs/for/refs/*"]
	read = group user/brijnandan
	push = group user/brijnandan
	label-Code-Review = -2..+2 group user/brijnandan
	label-Verified = -1..+1 group user/brijnandan
	rebase = group user/brijnandan
	removeReviewer = group user/brijnandan
	submit = group user/brijnandan
[access "refs/heads/*"]
	read = group user/brijnandan
	create = group user/brijnandan
	push = +force group user/brijnandan
	pushMerge = group user/brijnandan
[access "refs/tags/*"]
	push = +force group user/brijnandan
	pushTag = group user/brijnandan
	pushSignedTag = group user/brijnandan
